
<h1>BEM VINDO!</h1>
<p><strong><%= br_date(Date.today) %></strong></p>

<%= render "menu" %>

<p>
  Você está em ambiente de: <strong><%= ambiente_rails %></strong>
</p>

<p>
  Esta é a variavel de ambiente @nome: <strong><%= @nome %></strong>
</p>
